{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}
<script>
document.getElementById("app_page").setAttribute("class","uk-active");
</script>

    <div class="uk-width-medium-3-4">
    {% for app in apps %}
        <article class="uk-article">
            <h2><a href="/app/{{ app.id }}">{{ app.app_name }}</a></h2>
            <p class="uk-article-meta">发表于{{ app.created_at }}</p>
            <p><a href="/app/{{ app.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}
    {{ pagination('/?page=', page) }}
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/">廖雪峰的官方网站</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://toutiao.io/">开发者头条</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://geek.csdn.net/hotest">极客头条</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://v2ex.com/">V2EX</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
